.navbar {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 30px;
    color: white;
    transition: 0.3 ease;
}

.navbar i{
    font-size: 1.2rem;
    padding:0 7px;
    cursor:pointer;
    transition: 0.3 ease;
    color: yellow;
}

#home{
    background-image: url("img/banner.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

#home h1 {
    color:white;
}

#home p{
    color: white;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 13px 30px;
    text-transform: uppercase;
}

.navbar-light .navbar-toggle{
    border: none;
    outline: none;
}

@media screen {
    
    #navbarSupportedContent > ul{
        margin: 1rem;
        text-align: center;
    }

}

.about-section{
    background: url("img/ABOUT.png") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.Recc{
    text-align: center;
    padding: 20px 20px;
}

.recomended-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%; 
}

.text-primary{
    color: var(--yellow)!important;
}

.space{
    padding: 20px 20px;
}

.footer{
    background-color: black;
}

.footer h5{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.footer p{
    color: white;
    font-size: 0.8rem;
}

.text-uppercase {
    color: white;
}

